@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./partials";
@import "./_variables";
@import "./_mixins";
@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');

html {
	font-family: $font;
	box-sizing: border-box;
	color: $theme-black;
	background: $theme-white;
}

*,
*::before,
*::after {
	font-size: $font;
	box-sizing: inherit;
}

html,
body {
	font-family: $font;
	margin: 0;
	padding: 0;
	overflow: auto;
	max-width: 100%;
	overflow-x: hidden;
	color: white;
	#tooltip-2 {
		display: none !important;
		background: red;
	}
}

main {
	padding: 0;
	max-width: $max-page-width;
	margin: 0 auto;
}
