@import "../../node_modules/bootstrap/scss/bootstrap";
@import './partials';
@import './_variables';

html {
	font-size: $base-font-size;
	box-sizing: border-box;
	color: $theme-black;
	background: $theme-white;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow: auto;
	max-width: 100vw;
	overflow-x: hidden;
	color: white;
	#tooltip-2 {
			display: none !important;
			background: red;
		}
}

main {
	padding: 0;
	max-width: $max-page-width;
	margin: 0 auto;
}
