header {
	color: $theme-white;

	h1 {
		font-size: 1.125rem;
		margin: 0;
		a,
		a:hover,
		a:visited,
		a:active {
			color: $theme-white;
			text-decoration: none;
		}
	}

	nav {
		float: left;
		margin: 0 auto;
		padding: 10px 60px;
		min-width: 100%;
		overflow: hidden;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;

		/// class: menu {{{
		.menu {
			position: relative;
			top: 20px;
			margin: 0;
			padding: 0;
			display: flex !important;
			flex: 1 1 auto;
			flex-flow: row nowrap;
			justify-content: flex-end;

			/// class: button-xs {{{
			.button-xs {
				position: relative;
				bottom: 25px;
				left: 60px;
				font-size: 42px;

				/// event: hover {{{
				&:hover {
					cursor: pointer;
				}
				/// }}}
			}
			/// }}}

			// class: items {{{
			.items {
				width: auto;
				display: block;
				.nav-item {
					&,
					&:visited {
						font-size: 22px;
						display: inline;
						padding: 0 0.5rem;
						line-height: 1.6rem;
						color: $theme-white;
						text-decoration: none;
						transition: 0.5s color;
						margin: 0 30px;
					}
					&:hover {
						cursor: pointer;
						text-decoration: none;
						color: $link-menu-yellow;
					}
				}
			}
			// }}}
			// class: sub-items {{{
			.sub-items {
				padding: 20px 5px;
				height: 55px;

				// element: a {{{
				a {
					text-decoration: none;

					// class: sub-item {{{
					li.sub-item {
						display: inline;
						padding: 5px 20px;

						text-decoration: none;
						transition: 0.5s color;
						color: white;

						// event: hover {{{
						&:hover {
							cursor: pointer;
							text-decoration: none;
							color: #fdff86;
						}
						// }}}
					}
					// }}}
				}
				// }}}
			}
			// }}}
		}
		// }}}
	}

	/// class: menu-mobile {{{
	.menu-mobile {
		width: 100%;
		overflow: hidden;
		border-bottom: 1px solid #242424;
		background: rgb(26, 26, 26);

		/// class: btn-link {{{
		.btn-link {
			text-decoration: none;
			width: 100%;
			margin: 5px 0;
			transition: 0.25s background-color;

			&:hover {
				background-color: $link-menu-highlight-mobile;
			}

			a {
				display: block;
				font-size: 18px;
				width: 100vw;
				padding: 5px 10px;
				text-decoration: none;
				color: white;
				transition: 0.5s color;

				&:hover {
					color: $link-menu-yellow;
				}
			}
		}
		/// }}}
	}
	/// }}}

	.banner {
		img {
			min-height: 60px;
			max-height: 60px;

			min-width: 250px;
			max-width: 250px;
		}
	}

	li {
		list-style-type: none;
	}
}
