/// route: home {{{
.home {
  /// component: front {{{
  .front {
    min-height: 100vh;
    background: $background-front;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    // keyframes: gradient {{{
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    /// }}}

    /// class: txt1 {{{
    .txt1 {
      font-size: 50px;
      color: white;
      font-weight: bold;
      margin-bottom: 100px;
    }
    /// }}}
    /// class: txt2 {{{
    .txt2 {
      padding-top: 150px;
      margin-bottom: 250px;
      color: white;
      width: 100vw;
      text-align: center;
      font-weight: bold;
      top: 120px;
    }
    /// }}}
    /// class: buy {{{
    .buy {
      margin-bottom: 50px;
      text-align: center;
      .sub-btn-text {
        margin-top: 5px;
        color: rgb(211, 211, 211);
        font-weight: bold;
        text-align: center;
        font-size: 14px;
      }

      .sub-btn-links {
        margin-top: 5px;
        color: rgb(211, 211, 211);
        font-weight: bold;
        text-align: center;
        font-size: 14px;

        img {
          width: 30px;
          height: 35px;
          margin: 2px 5px;
        }
      }
    }
    /// }}}

    .big {
      font-size: 40px;
    }

    .small {
      font-size: 30px;
    }
  }
  /// }}}
  /// component: explain {{{
  .explain {
    background: $background-explain;
    padding: 60px 0;
    padding: $block-padding;

    .detail {
      padding: $block-detail-padding;
    }
  }
  /// }}}
  /// component: backed {{{
  .backed {
    background: $background-backed;
    padding: $block-padding;

    .detail {
      padding: $block-detail-padding;
    }
  }
  /// }}}
  /// component: stats {{{
  .stats {
    padding: $block-padding;
    background: $background-stats;

    // class: title {{{
    .title {
      text-align: center;
      padding-bottom: 50px;
    }
    /// }}}
    // class: block-stats {{{
    .block-stats {
      max-width: 60%;
      margin: 0 auto;
      border-radius: 10px;
      padding: 30px 40px 30px 60px;
      background: rgb(35, 70, 116);
    }
    /// }}}
    // class: block-links {{{
    .block-links {
      padding: 30px 40px 30px 90px;
    }
    /// }}}
    // class: numbers {{{
    .numbers {
      width: 100%;
    }
    /// }}}
    // class: links {{{
    .links {
      width: 100%;
      text-align: center;
    }
    /// }}}
    // class: intit {{{
    .intit {
      margin: 10px 0;
      width: 100%;
      font-weight: bold;
      text-align: left;

      .big {
        font-size: 42px;
      }

      .small {
        font-size: 28px;
      }
    }
    /// }}}
    /// class: intit-sub {{{
    .intit-sub {
      width: 100%;
      font-weight: bold;
      text-align: left;
    }
    /// }}}
  }
  /// }}}
  /// component: roadmap {{{
  .roadmap {
    min-height: 780px;
    background: $background-roadmap;

    // class: title {{{
    .title {
      text-align: center;
    }
    /// }}}
    // class: roadmap-img {{{
    .roadmap-img {
      text-align: center;
    }
    /// }}}
  }
  /// }}}
  /// component: howtobuy {{{
  .howtobuy {
    padding: $block-padding;
    background: $background-howtobuy;

    // class: title {{{
    .title {
      text-align: center;
    }
    /// }}}
    // class: howtobuy-img {{{
    .howtobuy-img {
      text-align: center;
      margin-bottom: 50px;
    }
    /// }}}
    // class: howtobuy-contract {{{
    .howtobuy-contract {
      top: 50px;
      margin-top: 50px;
      text-align: center;
      font-size: 64px;
      font-weight: bold;

      .address {
        position: relative;
        top: 15px;
      }
    }
    /// }}}
  }
  /// }}}
  /// component: about {{{
  .about {
    min-height: 780px;
    background: #071625;

    .banner {
      text-align: center;
      margin-bottom: 100px;
    }

    .coin {
      margin-top: 40px;

      img {
        position: relative;
        bottom: 1px;
      }
    }

    .address {
      margin-top: 40px;
      color: #a8a8a8;
      font-size: 10px;
    }

    .container-fluid {
      padding-top: 80px;
    }

    .title {
      color: #dfdfdf;
      margin-bottom: 20px;
      font-size: 18px;
    }

    ol {
      padding: 0;

      a {
        text-decoration: none;
        color: #aaaaaa;

        li {
          width: auto;
          list-style-type: none;
          margin-bottom: 5px;
          padding: 15px 0;
          transition: 0.2s color;

          &:hover {
            color: rgb(255, 227, 136);
          }
        }
      }
    }
  }
  /// }}}

  /// class: detail {{{
  .detail {
    padding: 0;

    .title {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 10px;

      .big {
        font-size: 76px;
      }
      .small {
        font-size: 36px;
      }
    }

    .content {
      .big {
        font-size: 24px;
      }
      .small {
        font-size: 18px;
      }
    }
  }
  /// }}}
  /// class: image {{{
  .image {
    text-align: center;
    padding: 10px 40px;
  }
  /// }}}
}
/// }}}
/// route: stake {{{
.stake {
  height: 100vh;
  padding-top: 150px;
}
/// }}}

/// class: btn-buy {{{
.btn-buy {
  padding: 30px 0;
  min-width: 350px;
  font-size: 42px;
  color: white;
  border: 0;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 12px;
  background: linear-gradient(65deg, #ec2214, #960000);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
/// }}}
/// class: btn-dexscreener {{{
.btn-dexscreener {
  @include btn-stats($button-dexscreener-background);
}
/// }}}
/// class: btn-copy {{{
.btn-copy {
  @include btn-stats($button-dexscreener-background);
}
/// }}}
/// class: btn-cmc {{{
.btn-cmc {
  @include btn-stats($button-cmc-background);
}
/// }}}
/// class: btn-coingecko {{{
.btn-coingecko {
  @include btn-stats($button-coingecko-background);
}
/// }}}
/// class: clickable {{{
.clickable {
  &:hover {
    cursor: pointer;
  }
}
/// }}}
