.home {
  /// component: front {{{
  .front {
    height: 120vh;
    background: linear-gradient(-45deg, #08060f, #0a1d35, #030b16, #22285e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

    // keyframes: gradient {{{
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    /// }}}

    /// class: txt1 {{{
    .txt1 {
      position: absolute;
      top: 60%;
      transform: translate(0, -60%);
      left: 5%;
      font-size: 50px;
      color: white;
      font-weight: bold;
    }
    /// }}}
    /// class: txt2 {{{
    .txt2 {
      position: absolute;
      font-size: 56px;
      color: white;
      width: 100vw;
      text-align: center;
      font-weight: bold;
      top: 120px;
    }
    /// }}}
    /// class: buy {{{
    .buy {
      position: absolute;
      top: 65%;
      right: 7.5%;
      transform: translate(0, -65%);

      .btn-buy {
        padding: 30px 70px;
        font-size: 42px;
        color: white;
        border: 0;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 12px;
        background: linear-gradient(65deg, #ec2214, #960000);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      }

      .sub-btn-text {
        margin-top: 5px;
        color: rgb(211, 211, 211);
        font-weight: bold;
        text-align: center;
        font-size: 14px;
      }

      .sub-btn-links {
        margin-top: 5px;
        color: rgb(211, 211, 211);
        font-weight: bold;
        text-align: center;
        font-size: 14px;

        img {
          width: 30px;
          height: 35px;
          margin: 2px 5px;
        }
      }
    }
    /// }}}
  }
  /// }}}
}
