/// component: stake {{{
.stake {
  /// class: insignis-coin-xl {{{
  .insignis-coin-xl {
    img.coin {
      padding-top: 80px;
    }
  }
  /// }}}
/// class: insignis-coin {{{
  .insignis-coin {
    text-align: center;
  }
  /// }}}

  /// class: balance-xl {{{
  .balance-xl {
    position: absolute;
    top: 90px;
    padding-left: 80px;
    display: inline !important;
  }
  /// }}}
  /// class: balance {{{
  .balance {
    display: inline;
  }
  /// }}}

  // class: amount {{{
  .amount {
    font-size: $stake-title-font-size;
    color: $stake-title-font-color;
  }
  /// }}}
  // class: roi {{{
  .roi {
    font-size: $stake-title-font-size;
    color: $stake-title-font-color;
  }
  /// }}}
  // class: timer {{{
  .timer {
    font-size: $stake-title-font-size;
    color: $stake-title-font-color;
  }
  /// }}}
  // class: sub {{{
  .sub {
    min-width: 200px;
    font-size: $stake-subtitle-font-size;
    color: $stake-subtitle-font-color;

    margin-bottom: $stake-subtitle-margin-bottom;
  }
  /// }}}
}
/// }}}
