.connect {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  .chakra-button {
    border-radius: 15px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  .css-c0yk07 {
    border-radius: 15px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
